<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>TV Show Explorer</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="search IMDB" ng-model="query">
            <span class="input-group-btn">
                <button class="btn btn-success" ng-click="searchIMDb()" ng-disabled="searching || !query.trim()">
                    <span ng-show="searching">
                        <i class='fa fa-circle-o-notch fa-spin' aria-hidden="true"></i>
                    </span>
                    Search
                </button>
            </span>
        </div>
        <small ng-show="tvShow">
            Showing {{tvShow.title}}, {{tvShow.episodes.length}} episodes of season {{tvShow.season}}
        </small>
        <div class="alert alert-danger" ng-show="error">
            <span class="pull-right">
			    <button class="btn btn-xs btn-danger" ng-click="error = undefined"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
			<span class="fa fa-exclamation-sign" aria-hidden="true">{{error.text}}</span>                
		</div>
    </div>
    <div class="col-sm-3 col-md-offset-1">
        <div ng-show="tvShow" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{tvShow.title}}</h3>
            </div>
            <div class="panel-body">
                <span class="pull-right"><span class="badge">{{tvShow.averageRating}}</span></span>
                <span>IMDb Rating Average</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-repeat="episode in tvShow.episodes track by episode.id"> 
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-sm-4">
            <div class="media" style="padding: 15px;">
                <span class="pull-right">
                    <span ng-class="episode.rating >= 8.5 ? 'label label-success' : 'badge' ">{{episode.rating}}</span>
                </span>
                <span><h4 class="media-heading">{{episode.title}}</h4></span>

                <h6 class="text-muted">Episode {{episode.number}}</h6>
                <h6 class="text-muted">{{episode.releasedAt}}</h6>
                <div class="thumbnail"><img src="{{episode.posterImage}}" alt="No poster image found"></div>
                <div class="media-body" style="max-height:50px;">
                    <p>{{episode.plot}}</p>
                    <button class="btn btn-xs btn-danger" ng-click="removeEpisode(episode.id)">Remove Episode</button>
                </div>
            </div>
        </div>                
    </div>

</div>


